*.sw?
.DS_Store
rdoc
*~
ext/pdf417/*.dll
lib/pdf417/*.so
ext/pdf417/*.so
lib/pdf417/*.bundle
ext/pdf417/*.bundle
lib/pdf417/*.o
ext/pdf417/*.o
lib/pdf417/Makefile
ext/pdf417/Makefile
stash
.rake_tasks
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
